.input {
    font-size: 20px;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    background-color: #3f3f3f;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.17);
    border-radius: 5px;
    outline: none;
    padding: 5px;
}

.setting {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95%;
    align-items: flex-start;
}

.settingInfo {
    display: flex;
    flex-direction: column;
}

.settingDescription {
    color: white;
    margin: 0;
}

.settingName {
    font-size: 30px;
    width: fit-content;
    text-wrap: nowrap;
    font-weight: bold;
    margin: 0;
    color: white;
}

.settingsContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: flex-start;
}