.toggle-switch {
    margin-left: auto;
    width: 50px;
    height: 30px;
    background-color: #444;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.toggle-switch::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.2s;
}

.toggle-switch.checked {
    background-color: #66bb6a;
}

.toggle-switch.checked::before {
    left: calc(100% - 28px);
}